/* Base Tailwind Config */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Global Styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-rocknRoll-one), sans-serif;
  font-weight: 100;
  font-style: normal;
  color: #213445;
  position: relative;
  overflow-x: hidden;
}

/* Typography */
h1,
h3 {
  font-family: "Blomberg", var(--font-blomberg), sans-serif;
  font-weight: normal;
  font-style: normal;
}

h1 {
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(255, 255, 255, 0.7), 0 0 30px rgba(255, 255, 255, 0.6);
}

h3 {
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.3),
    0 0 20px rgba(255, 255, 255, 0.2), 0 0 30px rgba(255, 255, 255, 0.1);
}

/* Hero Section */
.hero-section {
  background-image: linear-gradient(
    180deg,
    hsl(306deg 63% 54%) 0%,
    hsl(290deg 52% 63%) 10%,
    hsl(261deg 53% 72%) 21%,
    hsl(223deg 66% 75%) 31%,
    hsl(204deg 86% 71%) 41%,
    hsl(194deg 100% 65%) 51%,
    hsl(198deg 91% 63%) 61%,
    hsl(203deg 84% 60%) 71%,
    hsl(208deg 77% 57%) 80%,
    hsl(216deg 71% 54%) 90%,
    hsl(227deg 65% 50%) 100%
  );
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.hero-section p {
  font-size: 18px;
  line-height: 30px;
}

.hero-image {
  background-image: url("/hero-g-w-3.png");
  background-size: contain;
  background-position: 75% -30px;
  background-repeat: no-repeat;
}

.hero-bg {
  background-image: url("/hero-bg6.png");
  background-size: cover;
  background-position: bottom calc(-5px);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.6;
}

.bottom-glare {
  position: absolute;
  right: 0;
  bottom: -147px;
  z-index: 100;
  width: 975px;
  height: 179px;
}

/* Project Section */
.project-section {
  background: linear-gradient(to bottom, #2d51d3 0%, #7e57c2 30%, #ff6f61 80%);
}

/* Experience Section */
.experience-section {
  background: linear-gradient(to bottom, #ff6f61, #919bfd, #07b2f2);
}

/* Contact Section */
.contact-section {
  background: linear-gradient(to bottom, #07b2f2, #25a2f1, #5e7adf, #7e57c2);
}

/* Container */
.stars-bg {
  background-image: url("/stars-bg.png");
  background-size: cover;
  background-position: bottom -5px;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.5;
}

.container {
  max-width: 860px;
  margin: 0 auto;
  padding: 0 1rem;
}

.content {
  z-index: 30;
  position: relative;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px 0;
  background: #7e57c2;
  font-size: 10px;
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

/* Form */
.error-message {
  font-size: 10px;
}

input:focus,
textarea:focus {
  border: 1px solid #3155d8;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
