@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-nunito), sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #213445;
  position: relative;
  overflow-x: hidden;
}

/* Typography */
h1,
h3 {
  font-family: var(--font-kalam), sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

h1 {
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(255, 255, 255, 0.7), 0 0 30px rgba(255, 255, 255, 0.6);
}

h3 {
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.3),
    0 0 20px rgba(255, 255, 255, 0.2), 0 0 30px rgba(255, 255, 255, 0.1);
}

/* Hero Section */
.hero-section {
  background: linear-gradient(to bottom, #d54bc9 0%, #61d8fe 40%, #2d51d3 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.hero-image {
  background-image: url("/hero-g-w-3.png");
  background-size: contain;
  background-position: 75% -30px;
  background-repeat: no-repeat;
}

.hero-bg {
  background-image: url("/hero-bg6.png");
  background-size: cover;
  background-position: bottom calc(-5px);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.6;
}

.bottom-glare {
  position: absolute;
  right: 0;
  bottom: -147px;
  z-index: 100;
  width: 975px;
  height: 179px;
}

/* For the text fade-in */
.fade-in {
  opacity: 0;
  animation: fadeIn 0.6s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* For the left content sliding in from the left */
.slide-in-left {
  opacity: 0;
  transform: translateX(-100px);
  animation: slideInLeft 1s ease forwards;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* For the right image sliding in from the right */
.slide-in-right {
  opacity: 0;
  transform: translateX(100px);
  animation: slideInRight 1.5s ease forwards;
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Project Section */
.project-section {
  background: linear-gradient(to bottom, #2d51d3, #7e57c2, #ff6f61);
}

/* Experience Section */
.experience-section {
  background: linear-gradient(to bottom, #ff6f61, #919bfd, #07b2f2);
}

/* Contact Section */
.contact-section {
  background: linear-gradient(to bottom, #07b2f2, #25a2f1, #5e7adf, #7e57c2);
}

/* Container */
.stars-bg {
  background-image: url("/stars-bg.png");
  background-size: cover;
  background-position: bottom -5px;
  background-repeat: no-repeat;
  position: fixed;
  background-attachment: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.5;
}

.container {
  max-width: 860px;
  margin: 0 auto;
  padding: 0 1rem;
}

.content {
  z-index: 30;
  position: relative;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px 0;
  background: #7e57c2;
  font-size: 10px;
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

/* Form */
.error-message {
  font-size: 10px;
}

input:focus,
textarea:focus {
  border: 1px solid #3155d8;
}
